* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

header {
    display: flex;
    flex-wrap: wrap;
    height: 50px;
    justify-content: center;
    align-items: center;
}

h2 {
    color: black;
    font-family: "Poppins", sans-serif;
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 0px;
}

h3 {
    color: black;
    font-family: "Poppins", sans-serif;
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 0px;
}

span {
    width: 100%;
    display: block;
    margin: 10px 0px;
}

button {
    margin: 10px 0px;
    color: white;
    background-color: black;
    padding: 15px 10px;
}

footer i {
    font-size: 60px;
}

header img {
    width: 50%;
    height: 20%;
}

header a {
    display: none;
}

#container {
    width: 100%;
    font-size: 14px;
    color: #808184;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    font-weight: 200;
    border: 1px solid black;
    /* padding: 0px 20px; */
}

#start-img {
    width: 100%;
    height: 90vh;

}

#start-vid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Maintain aspect ratio and cover the container */
    object-position: center;
    /* Center the image inside the box */
    display: block;
}

.build-info {
    font-size: 12px;
    color: #4A4F54;
    font-weight: 500;
}

#shop-now {
    display: grid;
    background-color: rgb(248, 249, 249);
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    /* padding-top: 10px; */
    margin-top: 20px;
}

#shop-now div {
    padding: 20px;
}

#shop-now span,
div {
    display: block;
}

#shop-now img {
    width: 100%;
}

#find-out {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}

#find-out div {
    /* width: 0%; */
    padding: 20px;
}

#find-out img {
    width: 100%;
}

#find-out span {
    width: 100%;
}

#gold-range {
    width: 100%;
    background-color: rgb(248, 249, 249);
    display: grid;
    grid-template-areas: "img"
        "info";
}

#gold-div-txt {
    /* width: 100%; */
    padding: 20px;
    grid-area: info;
}

#gold-div-img {
    /* width: 100%; */
    padding: 20px;
    grid-area: img;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

#gold-div-img video {
    width: 100%;
}

#gold-hide-img {
    display: none;
}

#gold-img1 {
    width: 25%;
    object-fit: cover;
    /* Maintain aspect ratio and cover the container */
    object-position: center;
    /* Center the image inside the box */
    display: block;
}

#gold-img2 {
    width: 65%;
}

/* End of gold-range */

#sport-range {
    width: 100%;
    display: grid;
    grid-template-areas: "img"
        "info";
}

#sport-div-txt {
    /* width: 100%; */
    padding: 20px;
    grid-area: info;
}

#sport-div-img {
    /* width: 100%; */
    padding: 20px;
    grid-area: img;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

#sport-div-img video {
    width: 100%;
}

#sport-img1 {
    display: none;
    object-fit: cover;
    /* Maintain aspect ratio and cover the container */
    object-position: center;
    /* Center the image inside the box */
    display: block;
}

#sport-img3 {
    width: 32%;
}

#sport-img4 {
    width: 58%;
}


/* End of sport-range */

#velar-range {
    width: 100%;
    background-color: rgb(248, 249, 249);
    display: grid;
    grid-template-areas: "img"
        "info";
}

#velar-div-txt {
    /* width: 100%; */
    padding: 20px;
    grid-area: info;
}

#velar-div-img {
    /* width: 100%; */
    padding: 20px;
    grid-area: img;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

#velar-div-img video {
    width: 100%;
}

#velar-img3 {
    display: none;
    object-fit: cover;
    /* Maintain aspect ratio and cover the container */
    object-position: center;
    /* Center the image inside the box */
    display: block;
}

#velar-img1 {
    width: 30%;
}

#velar-img2 {
    width: 58%;
}

/* End of velar */

#evoque-range {
    width: 100%;
    display: grid;
    grid-template-areas: "img"
        "info";
}

#evoque-div-txt {
    /* width: 100%; */
    padding: 20px;
    grid-area: info;
}

#evoque-div-img {
    /* width: 100%; */
    padding: 20px;
    grid-area: img;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

#evoque-div-img video {
    width: 100%;
}

#evoque-img1 {
    display: none;
    object-fit: cover;
    /* Maintain aspect ratio and cover the container */
    object-position: center;
    /* Center the image inside the box */
    display: block;
}

#evoque-img3 {
    width: 30%;
}

#evoque-img4 {
    width: 55%;
}

#chapter {
    width: 100%;
    background-color: rgb(248, 249, 249);
}

.chapter-div {
    padding: 20px;
}

#chapter img {
    width: 100%;
}

#perspective {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.per-div {
    padding: 20px;
}

.per-heading {
    width: 100%;
}

#perspective img {
    width: 100%;
}

#warrant {
    width: 100%;
    background-color: rgb(248, 249, 249);
}

#warrant div {
    padding: 20px;
    align-items: center;
}

#warrant p {
    text-align: justify;
}

#warrant img {
    width: 50%;
}

/* Footer */

footer {
    padding: 20px 20px;
}

.footer-links {
    display: none;
}

#footer-show h3 {
    font-size: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: black;
    width: 100%;
    letter-spacing: 1px;
}

#footer-show {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: black;
}

#footer-show span {
    display: none;
}

#about-links-child {
    display: flex;
    flex-wrap: wrap;
    margin: 25px 0px;
}

#about-links-child a {
    width: 100%;
    text-decoration: none;
    color: #4A4F54;
    /* font-size: 10px; */
    margin: 10px 0px;
}

#copyright span {
    width: 100%;
}

#copyright {
    margin: 25px 0px;
}

footer i {
    font-size: 50px;
    display: block;
    width: 100%;
}

/* ENd of footer */

@media only screen and (min-width: 1024px) {
    header {
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        align-items: center;
        height: 70px;
        padding: 0 20px;
    }

    header a {
        display: block;
        text-decoration: none;
        color: black;
        font-weight: 600;
        padding: 0px 5px;
    }

    header nav {
        display: flex;
        gap: 20px;
    }

    header nav:first-of-type {
        justify-content: flex-start;
    }

    header nav:last-of-type {
        justify-content: flex-end;
    }

    header img {
        height: auto;
        width: 200px;
        display: block;
        margin: 0 auto;
    }

    #find-out {
        display: flex;
        flex-wrap: wrap;
    }

    #find-out div {
        width: 45%;
        padding: 20px
    }

    #gold-range {
        grid-template-columns: 2fr 1fr;
        align-items: center;
    }

    #gold-div-img {
        justify-content: center;
        width: 80%;
    }

    #gold-div-txt {
        grid-area: info;
        grid-column: 2/3;
        grid-row: 1/2;
    }

    #gold-img1 {
        width: 47%;
    }

    #gold-img2 {
        width: 48%;
    }

    #gold-hide-img {
        display: block;
        width: 30%;
    }

    #gold-div-img video {
        width: 65%;
    }

    #sport-range {
        grid-template-columns: 1fr 2fr;
        align-items: center;
    }

    #sport-div-img {
        /* width: 80%; */
        justify-content: center;
        grid-column: 2/3;
        grid-row: 1/2;
    }

    #sport-div-txt {
        grid-area: info;
        grid-column: 1/2;
        grid-row: 1/2;
    }

    #sport-img1 {
        display: block;
        width: 25%;
    }

    #sport-div-img video {
        width: 70%;
    }

    #sport-img3 {
        width: 47%;
    }

    #sport-img4 {
        width: 48%;
    }

    /* End of sport */

    #velar-range {
        grid-template-columns: 2fr 1fr;
        align-items: center;
    }

    #velar-div-img {
        width: 80%;
        justify-content: center;
    }

    #velar-div-txt {
        grid-area: info;
        grid-column: 2/3;
        grid-row: 1/2;
    }

    #velar-img1 {
        width: 48%;
    }

    #velar-img2 {
        width: 48%;
    }

    #velar-img3 {
        display: block;
        width: 30%;
    }

    #velar-div-img video {
        width: 65%;
    }

    /* End of velar */

    #evoque-range {
        grid-template-columns: 1fr 2fr;
        align-items: center;
    }

    #evoque-div-img {
        width: 80%;
        justify-content: center;
    }

    #evoque-div-img {
        /* width: 80%; */
        grid-column: 2/3;
        grid-row: 1/2;
    }

    #evoque-div-txt {
        grid-area: info;
        grid-column: 1/2;
        grid-row: 1/2;
    }

    #evoque-img1 {
        display: block;
        width: 25%;
    }

    #evoque-div-img video {
        width: 70%;
    }

    #evoque-img3 {
        width: 48%;
    }

    #evoque-img4 {
        width: 47%;
    }

    /* ENd of evoque */

    #chapter {
        display: flex;
        flex-wrap: wrap;
    }

    .chapter-div {
        width: 45%;
    }

    /* End of chapter */

    #perspective {
        display: flex;
        flex-wrap: wrap;
    }

}

@media only screen and (min-width:768px) {
    footer {
        padding: 40px 40px;
    }

    .footer-links {
        display: inline;
        width: 24%;
    }

    #f-links {
        display: flex;
        flex-wrap: wrap;
    }

    .footer-links h3 {
        font-size: 10px;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        color: black;
        width: 100%;
        letter-spacing: 1px;
        margin: 0px 0px;
    }

    .footer-links li {
        margin: 10px 0px;
        font-weight: 100px;
        text-align: justify;
    }

    .footer-links li a {
        text-decoration: none;
        color: #4A4F54;
    }

    #footer-show {
        margin: 0px 0px;
    }

    #about-links-child a {
        margin: 15px 0px;
    }
}